$searchWidth: 600px;
$linkBlue: #2300ee;

.search {
  margin: 0 10px;
  .searchBox {
    background-color: #fff;
    height: 44px;
    vertical-align: top;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    width: $searchWidth;
    margin-bottom: 20px;

    input {
      border: none;
      width: 100%;
      font-size: 20px;
      margin-top: 12px;
      padding-left: 10px;
      box-sizing: border-box;

      &:focus {
        outline: none
      }
    }
  }

  .results {
    max-width: $searchWidth;

    .result {
      display: flex;
      flex-direction: row;
      margin: 10px 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #cecece;
    }

    .resultImage {
      min-width: 92px;
    }

    .resultText {
      padding: 0 10px;
    }

    .titleRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .resultTitle {
      text-decoration: none;
      color: $linkBlue;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .message {
    @extend .muted;
    text-align: center;
    margin: 20px 0;
  }

}
